# ignore everything without extension
*
!*.*
!*/
.git_*
!.gitignore
!LICENSE


excl_*
package*
*.swp
*_build/
compile_commands.json
TODO.txt
.cache/

*.dump
*.bc
*.ll
*.stderr
*.stdout
*.out
*.so*
*.log
*.brol
*.a
*.exe
*.o

*attack_config*.toml
compiler_output.txt
page_allocation.txt
*victim_addresses*.txt*
!docs/*

/test_code/SPEC2017/*
!/test_code/SPEC2017/config
/test_code/SPEC2017/config/*
!/test_code/SPEC2017/config/flags
!/test_code/SPEC2017/config/test1.cfg

.ycm_extra_conf.py
Cargo.lock


